p {
    margin-bottom: 1rem;
}

/* ЗАГОЛОВКИ */
.h1 {
    font-size: 2rem;
    font-weight: bold;
}

/* РАЗМЕРЫ */
.text-sm {
    font-size: 0.8rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.5rem;
}

/* ЦВЕТА */
.text-primary {
    color: var(--primary);
}

/* РАСПОЛОЖЕНИЕ */
.text-center {
    text-align: center;
}