:root {
    --primary-card: #282828;
}

.card {
    background-color: var(--primary-card);
    border-radius: 16px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    min-width: 400px;
    word-wrap: break-word;

    margin: 2rem;
}